.profile {
  background-color: #e0dfe3;
  padding: 20px 0;
}
.description {
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  margin: 0 auto;
  background-color: #fff;
  width: 302px;
  height: 400px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.avatar {
  width: 100%;
}
.name {
  color: #212121;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.tag {
  color: #929593;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.location {
  color: #929593;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.stats {
  display: flex;
  justify-content: center;
  list-style: none;
}
.stats li {
  display: flex;
  flex-direction: column;
  width: 92px;
  padding: 20px 10px;
  gap: 10px;
  align-items: center;
  background-color: #e6ebef;
  border: 1px solid #dce1e5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.stats li:last-child {
  border-radius: 0 0 8px 0;
}
.stats li:first-child {
  border-radius: 0 0 0 8px;
}
.label {
  color: #737373;
}
.quantity {
  font-weight: bold;
}
